/.env
/test
/.vscode
*.DS_Store

/data/backup/*
/data/mysql/*
/data/redis/*
/data/certbot/*
/logs/*
/www/applications/*

/sites/*
!/sites/apache/.gitkeep
!/sites/apps/.gitkeep
!/sites/nginx/.gitkeep
!/sites/ssl/.gitkeep
!/sites/php/pools/.gitkeep
